.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0 3%;
    cursor: pointer;
  }

  .news-card {
    width: 240px;
    height: fit-content;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .news-card:active {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .news-card img {
    width: 100%;
    object-fit: cover;
  }
  .full-width-card {
    width: 100%;
    flex-basis: 90%;
  }

  .news-card.four-cards-row {
    flex-basis: 30%;
  }

  .news-card.two-cards-row {
    flex-basis: 45%;
  }
  .read-more-btn {
    background-color: #7c7e81;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .read-more-btn:hover {
    background-color: #414243;
  }